.contenedor {
    background-color: red;
    display: grid;
    grid-template-columns: repeat(5, 21%);
    grid-template-rows: auto;
}

.hijo {
    background-color: aliceblue;
    width: 100%;
    min-height: 40vw;
    /* height: auto */
    margin: 2vw;
}

.abusivo {
    background-color: aqua;
    grid-column: 1 / 6;
    grid-row: 1;
}